<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestpay.ecurrency.operations.dal.mapper.SequenceProduceMapper">


    <select id="smsInterfaceSeq" resultType="java.lang.String">
        select SEQ_SMS_INTERFACE.NEXTVAL from dual
    </select>
</mapper>